<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

<!-- <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet"> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<title>BERN2</title>
