<div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
    <a href="/" class="float-left align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class='fs-4 navbar-brand'>BERN2</span>
    </a>
    <ul class="nav nav-pills float-right">
        <li class="nav-item">
            <a href="/" class="nav-link text-white">Demo</a>
        </li>
        <li class="nav-item">
            <a href="/documentation" class="nav-link text-white">Documentation</a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/dmis-lab/BERN2" class="nav-link text-white">Github</a>
        </li>
        <li class="nav-item">
            <a href="http://arxiv.org/abs/2201.02080" class="nav-link text-white">Paper</a>
        </li>
    </ul>
</div>